#buy-outer{
    width: 94%;
    margin: 3%;
    min-height: 200px;
    border: solid 2px red;
}
#buy-heading{
    text-align: center;
    color: red;
    font-size:xx-large;
}
#buy-inner{
    margin:5%;
    background-color: red;
    width: 90%;
    min-height: 100px;
}